/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/build
/public/mix-manifest.json
/storage/app/public/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
docker-compose.yml
npm-debug.log
yarn-error.log
/.idea
/.vscode
